!!!
%html
  %head
    %script{src: "/javascript/jquery.min.js"}
    %script{src: "/templates.js"}
    %script{src: "/javascript/app.js"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/app.css"}
    %title
      XOXO example
  %body
    .outer-wrapper
      .inner-wrapper
        .content= content